/* Media Queries */
@use "mixins";

/* Google Fonts (Permanent Marker) */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    border: 0;   
}

body{
    background-image: linear-gradient(to right bottom, #27b8bd, #00b6cc, #09b2d9, #33ade3, #56a7e8, #73a1e9, #8e99e5, #a691dd, #be88cf, #d07fbe, #dd78a9, #e47492);
    background-size: 200% 200%; 
    animation: gradientAnimation 10s ease infinite; 
    
    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%; 
        }
        50% {
            background-position: 100% 50%; 
        }
        100% {
            background-position: 0% 50%; 
        }
    }

    header{
        font-family: "Permanent Marker", cursive;

        img{
            width: 250px;
            height: 250px;

            @include mixins.mobile-md{
                width: 200px;
                height: 200px;
            }

            @include mixins.mobile-sm{
                width: 190px;
                height: 190px;
            }  
        }
    }
}